<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="headerFragment">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/img/logo_sm.png}" alt="듀오할래" width="30" height="30"
             class="rounded border"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="searchOverallDropdown" role="button"
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              전적 검색
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-en"
                aria-labelledby="searchOverallDropdown" aria-disabled="true">
              <li><a class="dropdown-item" th:href="@{/overall/lol}">LOL</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" th:href="@{/overall/pubg}">PUBG</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="파티 찾기" aria-label="Search">
        </form>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-link" sec:authorize="!isAuthenticated()">
            <a class="nav-link" th:href="@{/login}">로그인</a>
          </li>
          <li class="nav-link" sec:authorize="!isAuthenticated()">
            <a class="nav-link" th:href="@{/sign-up}">회원가입</a>
          </li>
          <li class="nav-link" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/notifications}">알림</a>
          </li>
          <li class="nav-link" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/party/create}">파티 창설</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
            <a class="nav-link dropdown-toggle" id="profileDropdown" role="button"
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <svg th:if="${#strings.isEmpty(account?.profileImage)}"
                   th:data-jdenticon-value="${#authentication.name}"
                   width="24" height="24" class="rounded border bg-light"></svg>
              <img th:if="${!#strings.isEmpty(account?.profileImage)}"
                   th:src="${account.profileImage}"
                   width="24" height="24" class="rounded border"/>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end"
                aria-labelledby="profileDropdown">
              <li><h6 class="dropdown-header">
                <span sec:authentication="name">Username</span>
              </h6></li>
              <li><a class="dropdown-item"
                     th:href="@{'/profile/' + ${#authentication.name}}">프로필</a></li>
              <li><a class="dropdown-item" th:href="@{/party}">파티</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" th:href="@{/settings/profile}">설정</a></li>
              <li>
                <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}"
                      method="post">
                  <button class="dropdown-item" type="submit">로그아웃</button>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
</html>