<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="settings-menu (currentMenu)" class="list-group">
  <a class="list-group-item list-group-item-action"
     th:classappend="${currentMenu == 'profile'}? active" href="#"
     th:href="@{/profile/settings/profile}">프로필</a>
  <a class="list-group-item list-group-item-action"
     th:classappend="${currentMenu == 'password'}? active" href="#"
     th:href="@{/profile/settings/password}">패스워드</a>
  <!--  <a class="list-group-item list-group-item-action"-->
  <!--     th:classappend="${currentMenu == 'notifications'}? active" href="#"-->
  <!--     th:href="@{/profile/settings/notifications}">알림</a>-->
  <!--  <a class="list-group-item list-group-item-action"-->
  <!--     th:classappend="${currentMenu == 'tags'}? active" href="#" th:href="@{/profile/settings/tags}">관심-->
  <!--    주제</a>-->
  <!--  <a class="list-group-item list-group-item-action"-->
  <!--     th:classappend="${currentMenu == 'zones'}? active" href="#"-->
  <!--     th:href="@{/profile/settings/zones}">활동-->
  <!--    지역</a>-->
  <a class="list-group-item list-group-item-action list-group-item-danger"
     th:classappend="${currentMenu == 'account'}? active" href="#"
     th:href="@{/profile/settings/account}">계정</a>
</div>
</html>