<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
  <body class="bg-light">
  <div class="container">
    <div class="py-5 text-center">
      <h2>듀오할래</h2>
    </div>
  </div>
  <div class="alert alert-warning" role="alert"
       th:if="${account != null && !account?.emailVerified}">
    듀오할래 가입을 완료하려면 <a href="#" th:href="@{/check-email(email=${account.email})}" class="alert-link">계정
    인증 이메일을 확인</a>하세요.
  </div>
  </body>
</th:block>
</html>